<ion-header>
  <ion-navbar>
    <ion-item [ngSwitch]="list">
      <ion-title *ngSwitchCase="'notes'">Notes</ion-title>
      <ion-title *ngSwitchCase="'to-do'">To-Do List</ion-title>
      <ion-label>Date:</ion-label>
      <ion-datetime displayFormat="DDDD, MMM. D, YYYY" pickerFormat="MMMM DD YYYY" [(ngModel)]="currentDate" max="{{max}}" (ionChange)="goToList()"></ion-datetime>
    </ion-item>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="list" (ionChange)="goToList()">
      <ion-segment-button value="notes">Notes</ion-segment-button>
      <ion-segment-button value="to-do">To-Do List</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="list">
  <ion-textarea *ngSwitchCase="'notes'" value="{{notes}}" (blur)="updateNotes($event.target.value)"></ion-textarea>
  <ion-list *ngSwitchCase="'to-do'">
    <ion-item *ngFor="let item of toDoList">
      <ion-checkbox *ngIf="item.name" item-left checked="{{item.done}}" (ionChange)="toggleItemDone(item)"></ion-checkbox>
      <ion-input value="{{item.name}}" placeholder="New..." [disabled]="item.name ? true : false" (blur)="updateItemName($event.target.value, item)"></ion-input>
      <button ion-button icon-only clear item-right (click)="removeItem(item)">
        <ion-icon name="close" color="dark"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <button ion-button icon-only clear item-right (click)="addItem()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button large (click)="openPage(dayView)" class="disable-hover">
    <div>
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Day View</ion-label>
    </div>
  </button>
  <button ion-button large (click)="openPage(weekView)" class="disable-hover">
    <div>
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Week View</ion-label>
    </div>
  </button>
  <button ion-button large class="active disable-hover">
    <div>
      <ion-icon name="create"></ion-icon>
      <ion-label>Notes/To-Do</ion-label>
    </div>
  </button>
</ion-footer>