page-day-view {
    ion-content {
        .list-ios, .list-md, .list-wp {
            margin-bottom: 0;

            .item-ios, .item-md, .item-wp {
                padding-left: 0;

                .label-ios, .label-md, .label-wp {
                    padding-left: 1rem;
                    text-align: right;
                    width: 5.5rem;
                }

                .input-ios, .input-md {
                    border-left: 0.1rem solid #dedede;
                }
            }
        }
    }
}
