<ion-header>
  <ion-navbar>
    <ion-item>
      <ion-title>Plans</ion-title>
      <ion-label>Date:</ion-label>
      <ion-datetime displayFormat="DDDD, MMM. D, YYYY" pickerFormat="MMMM DD YYYY" [(ngModel)]="currentDate" max="{{max}}" (ionChange)="goToList()"></ion-datetime>
    </ion-item>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="list" (ionChange)="goToList()">
      <ion-segment-button value="daily">Daily Plans</ion-segment-button>
      <ion-segment-button value="backup">Backup Plans</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="list">
  <ion-list *ngSwitchCase="'daily'">
    <ion-item *ngFor="let plan of dailyPlans">
      <ion-label>{{plan.hour}}</ion-label>
      <ion-input (blur)="savePlans($event.target)" id="daily-{{currentDate}}-{{plan.id}}" value="{{plan.value}}"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="'backup'">
    <ion-item *ngFor="let plan of backupPlans">
      <ion-label>{{plan.hour}}</ion-label>
      <ion-input (blur)="savePlans($event.target)" id="backup-{{currentDate}}-{{plan.id}}" value="{{plan.value}}"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button large class="active disable-hover">
    <div>
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Day View</ion-label>
    </div>
  </button>
  <button ion-button large (click)="openPage(weekView)" class="disable-hover">
    <div>
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Week View</ion-label>
    </div>
  </button>
  <button ion-button large (click)="openPage(notesView)" class="disable-hover">
    <div>
      <ion-icon name="create"></ion-icon>
      <ion-label>Notes/To-Do</ion-label>
    </div>
  </button>
</ion-footer>