page-day-view {
    ion-content {
        .list-ios, .list-md, .list-wp {
            margin-bottom: 0;
            min-height: initial;

            .item-ios, .item-md, .item-wp {
                padding-left: 0;

                .label-ios, .label-md, .label-wp {
                    padding-left: 1rem;
                    text-align: right;
                    width: 5.5rem;
                }

                .input-ios {
                    border-left: 0.1rem solid $list-ios-border-color;
                    height: 100%;
                }

                .input-md {
                    border-left: 0.1rem solid $list-md-border-color;
                }

                .checkbox-ios, .checkbox-md, .checkbox-wp {
                    position: relative;
                }
            }
        }
    }
}
