<ion-header>
  <ion-navbar>
    <ion-item [ngSwitch]="list">
      <ion-title *ngSwitchCase="'goals'">Goals</ion-title>
      <ion-title *ngSwitchCase="'layout'">Weekly Layout</ion-title>
      <ion-label>Date:</ion-label>
      <ion-datetime displayFormat="DDDD, MMM. D, YYYY" pickerFormat="MMMM DD YYYY" [(ngModel)]="currentDate" min="{{min}}" max="{{max}}"
        (ionChange)="goToList()"></ion-datetime>
    </ion-item>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="list" (ionChange)="goToList()">
      <ion-segment-button value="goals">Goals</ion-segment-button>
      <ion-segment-button value="layout">Weekly Layout</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="list">
  <ion-list *ngSwitchCase="'goals'">
    <ion-list-header>
      Week of {{beginWeek}} to {{endWeek}}
      <button ion-button icon-only clear item-right (click)="addCategory()">
            <ion-icon name="add"></ion-icon>
      </button>
    </ion-list-header>
    <ion-item-group *ngFor="let category of categories">
      <ion-item-divider>
        <ion-label *ngIf="category.name">{{category.name}}</ion-label>
        <ion-input *ngIf="!category.name" placeholder="New..." (blur)="updateName($event.target.value, category)"></ion-input>
        <ion-badge item-right *ngIf="category.remaining">{{category.remaining}}</ion-badge>
        <button ion-button icon-only clear item-right (click)="addItem(category)">
            <ion-icon name="add"></ion-icon>
        </button>
        <button ion-button icon-only clear item-right (click)="removeCategory(category)">
            <ion-icon name="close"></ion-icon>
        </button>
      </ion-item-divider>
      <ion-item *ngFor="let item of category.items">
        <ion-checkbox item-left *ngIf="item.name" checked="{{item.done}}" (ionChange)="toggleItemDone(item, category)"></ion-checkbox>
        <ion-label *ngIf="item.name">{{item.name}}</ion-label>
        <ion-input *ngIf="!item.name" placeholder="New..." (blur)="updateName($event.target.value, item)"></ion-input>
        <button ion-button icon-only clear item-right (click)="removeItem(category, item)">
            <ion-icon name="close"></ion-icon>
          </button>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-list *ngSwitchCase="'layout'">
    <ion-list-header>Week of {{beginWeek}} to {{endWeek}}</ion-list-header>
    <ion-item *ngFor="let day of daysOfWeek">
      <ion-label stacked>{{day.name}}, {{day.date}}</ion-label>
      <ion-textarea value="{{day.notes}}" (blur)="updateWeekDay($event.target.value, day)"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button large (click)="openPage(dayView)" class="disable-hover">
    <div>
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Day View</ion-label>
    </div>
  </button>
  <button ion-button large class="active disable-hover">
    <div>
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Week View</ion-label>
    </div>
  </button>
  <button ion-button large (click)="openPage(notesView)" class="disable-hover">
    <div>
      <ion-icon name="create"></ion-icon>
      <ion-label>Notes/To-Do</ion-label>
    </div>
  </button>
</ion-footer>